# Зависимости Node.js
node_modules/
package-lock.json

# Сборка Android и кэш Gradle
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/local.properties
android/*.iml
android/app/*.iml

# Конфигурация IDE
.idea/
android/.idea/
.vscode/
*.swp
*.DS_Store

# Скомпилированные файлы приложений и ключи подписи
*.apk
*.aab
*.keystore
*.jks

# Системные файлы Windows и кэш
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
.gradle/

# Журналы
npm-debug.log*
yarn-debug.log*